@font-face {
  font-family: "Panchang";
  src: url("./assets/fonts/Panchang-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Technor";
  src: url("./assets/fonts/Technor-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}